html, body
{
    height: 100%;
    width: 100%;
    background-image: url('../img/mountaing-before-rain.jpg');
}

form
{
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    border-radius: calc(1.7px + (10 - 1.7) * ((100vw - 320px) / (1920 - 320)));
    width: calc(68.3px + (410 - 68.3) * ((100vw - 320px) / (1920 - 320)));
}

.reg-form
{
    height: calc(117.5px + (705 - 117.5) * ((100vw - 320px) / (1920 - 320)));
}

form .logo-circle
{
    margin: 0px;
}

form .logo-elipses
{
    margin-top: calc(6.7px + (40 - 6.7) * ((100vw - 320px) / (1920 - 320)));
}

form .second-logo-circle
{
    margin-left: calc(1.7px + (10 - 1.7) * ((100vw - 320px) / (1920 - 320)));
}

.reg-label
{
    font-size: calc(4.3px + (26 - 4.3) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 300;
    margin-top: calc(3.3px + (20 - 3.3) * ((100vw - 320px) / (1920 - 320)));
}

.reg-auth-input
{
    font-family: inherit;
    outline: none;
    border: 2px solid #949494;
    width: calc(58.3px + (350 - 58.3) * ((100vw - 320px) / (1920 - 320)));
    height: calc(10px + (60 - 10) * ((100vw - 320px) / (1920 - 320)));
    border-radius: calc(1.7px + (10 - 1.7) * ((100vw - 320px) / (1920 - 320)));
    color: #000;
    font-weight: 300;
    font-size: calc(3.3px + (20 - 3.3) * ((100vw - 320px) / (1920 - 320)));
    padding-left: calc(3.3px + (20 - 3.3) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(3.3px + (20 - 3.3) * ((100vw - 320px) / (1920 - 320)));
    box-sizing:border-box;
    cursor: pointer;
}

.reg-label + .reg-auth-input
{
    margin-top: calc(5px + (30 - 5) * ((100vw - 320px) / (1920 - 320)));
}

.reg-auth-input:not(:first-child)
{
    margin-top: calc(4.2px + (25 - 4.2) * ((100vw - 320px) / (1920 - 320)));
}

.reg-auth-button
{
    margin-top: calc(8.3px + (50 - 8.3) * ((100vw - 320px) / (1920 - 320)));
    border: 0px;
    width: calc(58.3px + (350 - 58.3) * ((100vw - 320px) / (1920 - 320)));
    height: calc(8.3px + (50 - 8.3) * ((100vw - 320px) / (1920 - 320)));
    font-weight: normal;
    text-align: center;
    border-radius: calc(1.7px + (10 - 1.7) * ((100vw - 320px) / (1920 - 320)));
    background-color: #2B99FF;
    color: #FFF;
    font-size: calc(3.3px + (20 - 3.3) * ((100vw - 320px) / (1920 - 320)));
}

.bottom-form-label, .gray-break
{
    margin-top: calc(2.5px + (15 - 2.5) * ((100vw - 320px) / (1920 - 320)));
}

.bottom-form-label
{
    font-size: calc(2.5px + (15 - 2.5) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 300;
}

.bottom-form-link
{
    color: #2B99FF;
}

.gray-break
{
    width: calc(56.5px + (339 - 56.5) * ((100vw - 320px) / (1920 - 320)));
    height: calc(0.2px + (1 - 0.2) * ((100vw - 320px) / (1920 - 320)));
    background-color: #C0BFBF;
}

.auth-form
{
    height: calc(86.5px + (519 - 86.5) * ((100vw - 320px) / (1920 - 320)));
}

.remember-data-block
{
    align-self: flex-start;
    margin-left: calc(5px + (30 - 5) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(3px + (18 - 3) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 300;
    margin-top: calc(2.5px + (15 - 2.5) * ((100vw - 320px) / (1920 - 320)));
}

.remember-box
{
    border: 2px solid #949494;
    margin: 0px;
    margin-right: calc(1.7px + (10 - 1.7) * ((100vw - 320px) / (1920 - 320)));
}

.auth-button
{
    margin-top: calc(4.2px + (25 - 4.2) * ((100vw - 320px) / (1920 - 320)));
}

.shadow-screen
{
    height: 100%;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal-message
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(83.3px + (500 - 83.3) * ((100vw - 320px) / (1920 - 320)));
    border-radius: calc(1.7px + (10 - 1.7) * ((100vw - 320px) / (1920 - 320)));
    background-color: #FFF;
}

.message-header
{
    font-size: calc(4.3px + (26 - 4.3) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    background-color: lightgray;
    font-weight: 500;
    margin: calc(1.8px + (11 - 1.8) * ((100vw - 320px) / (1920 - 320)));
    border-radius: calc(0.8px + (5 - 0.8) * ((100vw - 320px) / (1920 - 320)));
    box-sizing: border-box;
    padding: calc(1.3px + (8 - 1.3) * ((100vw - 320px) / (1920 - 320)));
    padding-left: calc(2px + (12 - 2) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(2px + (12 - 2) * ((100vw - 320px) / (1920 - 320)));
}

.message-header img
{
    width: calc(3px + (18 - 3) * ((100vw - 320px) / (1920 - 320)));
    height: calc(3px + (18 - 3) * ((100vw - 320px) / (1920 - 320)));
    margin-left: auto;
}

.message-text-block
{
    padding: calc(1.3px + (8 - 1.3) * ((100vw - 320px) / (1920 - 320)));
    padding-left: calc(2px + (12 - 2) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(2px + (12 - 2) * ((100vw - 320px) / (1920 - 320)));
    margin: calc(1.8px + (11 - 1.8) * ((100vw - 320px) / (1920 - 320)));
    margin-top: calc(1.3px + (8 - 1.3) * ((100vw - 320px) / (1920 - 320)));;
    border-radius: calc(0.8px + (5 - 0.8) * ((100vw - 320px) / (1920 - 320)));
    border: 1px solid #666;
    font-size: calc(3.8px + (23 - 3.8) * ((100vw - 320px) / (1920 - 320)));
    text-align: justify;
}

input[type="button"]
{
    cursor: pointer;
}

